# Environment variables
.env
.env.local
.env.*.local
ingestion/.env

# Dependencies
node_modules/
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SQL and Data
*.sql
Questions/*.sql
SQL/*.sql

# Capacitor Android
android/app/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
