# Environment variables
.env
.env.local
.env.*.local
ingestion/.env

# Dependencies
node_modules/
dist/
dist-ssr/

# Mobile
android/
ios/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SQL and Data
*.sql
Questions/*.sql
SQL/*.sql
